
<aside class="sidebar pos-absolute z-2"
       data-role="sidebar"
       data-toggle="#sidebar-toggle-3"
       id="sb3"
       data-shift=".shifted-content">
    <div class="sidebar-header" data-image="../assets/img/bg1.jpg">
        <div class="avatar">
            <img data-role="gravatar" data-email="sergey@pimenov.com.ua">
        </div>
        <span class="title fg-white">Metro 4 Components Library</span>
        <span class="subtitle fg-white"> 2018 © Sergey Pimenov</span>
    </div>
    <ul class="sidebar-menu">
        <li routerLink="/home"><a><span class="mif-home icon"></span>Inicio</a></li>
        <li routerLink="/user/reservations"><a><span class="mif-books icon"></span>Reservas</a></li>
        <li routerLink="/user/profile"><a><span class="mif-files-empty icon"></span>Perfil</a></li>
        <li class="divider"></li>
        <li class="bg-black fg-white" ><a>Sign Out</a></li>
    </ul>
</aside>
<ul class="h-menu bg-black fg-white">
    <li class="place-right"><button class="button square bg-black" id="sidebar-toggle-3"><span class="mif-menu fg-white" ></span></button></li>
    <li class="place-right"><a routerLink="/contactUs">Conctactos</a></li>
    <li class="place-right"><a routerLink="/rooms">Salas</a></li>
    <li class="place-right"><a routerLink="/thPlays">Obras</a></li>
    <li class="place-right"><a routerLink="/we">Nosotros</a></li>
    <li class="place-right"><a routerLink="/home" >Inicio</a></li>
</ul>

