

  <div class="row">
        <div class="card cell-6">
            <form>
              <div class="card-header">
                <div class="form-group">
                  <img src="../../../assets/img/bg1.jpg" style="width: 100%">  
                </div>     
            </div>
              <div class="card-content p-2">
                <label>Nombre</label>
                <input type="text" data-role="materialinput" placeholder="Name" required>
                <label>Apellido</label>
                <input type="text" data-role="materialinput" placeholder="Lastname">
                <label>Correo</label>
                <input type="text" data-role="materialinput" placeholder="Email">
                <label>Clave</label>
                <input type="text" data-role="materialinput" placeholder="Pass">
                <label>Clave</label>
                <input type="text" data-role="materialinput" placeholder="Repeat pass">
              </div>
              <div class="card-footer">
                  <button type="submit" class="button success outline">Save</button>
              </div>
            </form>
          </div>
    </div>

