
  <div class="row">
    <div class="card cell-6">
      <form>
        <div class="card-header">
          <div class="form-group">
            <label class="text-center"><h1>Reservas</h1></label>
          </div>
        </div>
        <div class="card-content">
          <div class="form-group">
            <label>Obras</label>
            <select data-role="select">
              <option value="">Padre Almeida</option>
              <option value="">Casa 1028</option>
              <option value="">Gallo de la Catedral</option>
              <option value="">Cantuña y el Diablo</option>
            </select>
          </div>
          <div class="form-group">
            <label>Funciones</label>
            <select data-role="select">
              <option value="">10:00 - 12:00</option>
              <option value="">12:00 - 14:00</option>
              <option value="">15:00 - 17:00</option>
            </select>
          </div>
        </div>
        <div class="card-footer row">
          <button type="button" class="button primary outline cell-4">Reservar</button>
          <button type="button" class="button success outline cell-4">Mis Reservas</button>     
        </div>
      </form>
    </div>
    <div class="card cell-6">
      <div class="card-header">
        <div class="form-group">
          <label class="text-center"><h1>Reservas</h1></label>
        </div>
      </div>
      <div class="card-content">
        <table class="table">
          <thead>
          <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
          </tr>
          </thead>
          <tbody class="row-hover">
          <tr>
              <td>1</td>
              <td>Bill</td>
              <td>Gates</td>
              <td>@billy</td>
          </tr>
          </tbody>
      </table>
      </div> 
      <div class="card-footer row">
        <button type="button" class="button warning outline cell-4 + offset-4">Ocultar</button>
      </div> 
    </div>
</div>
