<div class="section" id="services">
    <div class="row">
      <div class="cell-12">
        <h3 class="section-title">Salas</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Modern Teater posee salas de ultima generacion con butacas mucho mas comodas</p>
      </div>
  
    <div class="row">
      <div class="cell-4 service-item">
        <div class="service-icon"><i class="mif-leanpub"></i></div>
        <h4 class="service-title"><a href="">Teatro Nacional Benjamin Carrión</a></h4>
        <p class="service-description">El teatro Nacional Benjamin Carrión es la segunda sala mas grande del Agora de la Cultura, llamado asi por el fundador y padre del Agora "Benjamin Carrión"</p>
        <h5 class="service-description">Asientos: 600</h5>
      </div>
      <div class="cell-4 service-item">
        <div class="service-icon"><i class="mif-home"></i></div>
        <h4 class="service-title"><a href="">Sala Jorge Icaza</a></h4>
        <p class="service-description">La Sala Jorge Icaza es la sala mas grandre del Agora con una capacidad para 300 personas, llamada asi por el escritor Jorge Icaza.</p>
        <h5 class="service-description">Asientos: 300</h5>
      </div>
      <div class="cell-4 service-item">
        <div class="service-icon"><i class="mif-library"></i></div>
        <h4 class="service-title"><a href="">Teatro Prometeo</a></h4>
        <p class="service-description">El Teatro Prometeo es uno de los mas recordados porque allí fue donde Don Evaristo dio su última función, llamado así por el Titán en la mitología Griega Prometeo.</p>
        <h5 class="service-description">Asientos: 250</h5>
      </div>
      <div class="cell-4 service-item">
        <div class="service-icon"><i class="mif-music"></i></div>
        <h4 class="service-title"><a href="">El Aula Benjamín Carrión</a></h4>
        <p class="service-description">El Aula Benjamín Carrión es la sala mas pequeña del Agora, cuenta con una capacidad para 100 personas, posee una acústica "única", siendo así la mejor salar en el Agora.</p>
        <h5 class="service-description">Asientos: 100</h5>
      </div>
    </div>
  </div>

