<div id="testimonials">
    <div class="row" >
      <div class="cell-12">
        <h3 class="section-title">Obras</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">¡Las mejores obras para que lo disfrutes en familia!</p>
      </div>
    </div>

    <div class="row">
      <div class="cell-3">
        <div class="profile">
          <div class="pic"><img src="" alt=""></div>
          <h4>La casa 1028</h4>
          <span>Lawless Inc</span>
        </div>
      </div>
      <div class="cell-9">
        <div class="quote">
          <b></b>El Quito colonial era próspero y moderno para la época. Las casas eran hermosas, pero sobresalía la casa 1028, de propiedad de don Ramón y doña Isabel, cuyos apellidos jamás se llegaron a saber.<small></small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="cell-9">
        <div class="quote">
          <b></b>Esta difundida leyenda que atesoran los habitantes de Quito se refiere a don Ramón Ayala y Sandoval, quien era un hombre adinerado, muy bohemio y dedicado a la buena vida.<small></small>
        </div>
      </div>
      <div class="cell-3">
        <div class="profile">
          <div class="pic"><img src="" alt=""></div>
          <h4>El Gallo de la Catedral</h4>
          <span>Odeo Inc</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="cell-3">
        <div class="profile">
          <div class="pic"><img src="" alt=""></div>
          <h4>El padre Almeida</h4>
          <span>Lawless Inc</span>
        </div>
      </div>
      <div class="cell-9">
        <div class="quote">
          <b></b>Narra la leyenda que en el convento de San Diego, de la ciudad de Quito, vivía hace algunos siglos un sacerdote joven, el padre Almeida, el mismo que se caracterizaba por su afición a las juergas y al aguardiente.<small></small>
        </div>
      </div>
    </div>
  </div>