container {width: 100%;}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1452px) {
    .container {
        max-width: 1360px;
    }
}
@media (max-width: 768px) {
    .back-to-top {
      bottom: 15px;
    }
  }
  
  .back-to-top:focus {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    outline: none;
  }
  
  .back-to-top:hover {
    background: #03C4EB;
    color: #fff;
  }
  